<% if @wiki.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@wiki.errors.count, "error") %>.</h4>
    <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1> New Wiki </h1>

<div class="row">
      <%= render partial: "form" %>
</div>
